<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
            	    
      <% if @user.image.present? %>
		<p><%= image_tag @user.image_url(:thumb).to_s %></p>
	  <% else %>
		<p><%= image_tag ('default_user_profile_small.jpg') %></p>
	    <p><%= link_to "Add profile Picture", edit_user_path(current_user) %></p>
	  <% end %>
	  <h1>
        <%= @user.name %>      
      </h1>
    </section>
    <section>
      <%= render 'users/stats' %>
    </section>
  </aside>
  <div class="span8">
  	<%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>



<p>Name: <%= @user.name %></p>  
<p><%= link_to "Find Friends", users_path %></p>
   
   
   <h2>Your Friends</h2>  
   
   <ul>  
  	<% for friendship in @user.friendships %>  
    <li>  
    	<%= link_to  friendship.friend.name %>
    	<%= link_to "remove", friendship, :method => :delete, :confirm => "R U sure u want to unfriend" %>
    </li>  
    <% end %>    
   </ul>
	<!-- <ul>  
   		<% for user in current_user.friends %>  
  		<li><%=  user.name %></li>  
  		<% end %>    
 	</ul>  -->
 
 <!-- <h2>Users Who Have Befriended You</h2>  
 <ul>  
  <% for user in @user.inverse_friends %>  
   <li><%=  user.name %></li>  
   <% end %>  
 </ul> -->

