<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
            	    
      <% if @user.image.present? %>
		<p><%= image_tag @user.image_url(:thumb).to_s %></p>
	  <% else %>
		<p><%= image_tag ('default_user_profile_small.jpg') %></p>
	    <p><%= link_to "Add profile Picture", edit_user_path(current_user) %></p>
	  <% end %>
	  <h1>
        <%= @user.name %>      
      </h1>
    </section>
    <section>
      <%= render 'users/stats' %>
    </section>
  </aside>
  <div class="span8">
  	<%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>

